<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicioMateriaSWPortBinding" />
        <binding name="ServicioEstudianteSWPortBinding" />
        <binding name="ServicioMatriculaSWPortBinding" />
        <binding name="ServiciosExtraSWPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioEstudianteSWPort"
        binding="basicHttpBinding" bindingConfiguration="ServicioEstudianteSWPortBinding"
        contract="ServicioEstudianteSW.ServicioEstudianteSW" name="ServicioEstudianteSWPort" />
      <endpoint address="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioMateriaSWPort"
        binding="basicHttpBinding" bindingConfiguration="ServicioMateriaSWPortBinding"
        contract="ServicioMateriaSW.ServicioMateriaSW" name="ServicioMateriaSWPort" />
      <endpoint address="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServicioMatriculaSWPort"
        binding="basicHttpBinding" bindingConfiguration="ServicioMatriculaSWPortBinding"
        contract="ServicioMatriculaSW.ServicioMatriculaSW" name="ServicioMatriculaSWPort" />
      <endpoint address="http://192.168.16.12:7101/AppServidorColegioSW-ProyectoServidorColegioSW-context-root/ServiciosExtraSWPort"
        binding="basicHttpBinding" bindingConfiguration="ServiciosExtraSWPortBinding"
        contract="ServicioExtraSW.ServiciosExtraSW" name="ServiciosExtraSWPort" />
    </client>
  </system.serviceModel>
</configuration>
